* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #111;
  font-family: Arial, sans-serif;
  color: white;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background:
    linear-gradient(rgba(30,45,25,.25), rgba(20,30,18,.35)),
    repeating-linear-gradient(
      45deg,
      #536c3e 0px,
      #536c3e 20px,
      #4b6338 21px,
      #4b6338 40px
    );
}

/* HUD */

#hud {
  position: fixed;
  z-index: 50;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

#hud div {
  background: rgba(0,0,0,.7);
  border: 1px solid rgba(255,255,255,.25);
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
}

/* SAFE ZONE */

#zone {
  position: absolute;
  width: 700px;
  height: 700px;
  border: 5px solid rgba(80,180,255,.7);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 40px rgba(80,180,255,.25);
}

/* FORTS */

.fort {
  position: absolute;
  width: 250px;
  height: 190px;
  transform: rotate(-2deg);
  filter: drop-shadow(0 12px 12px rgba(0,0,0,.55));
}

.fort .wall {
  position: absolute;
  inset: 30px 15px 20px;
  background:
    repeating-linear-gradient(
      0deg,
      #8b6848 0px,
      #8b6848 12px,
      #735238 13px,
      #735238 18px
    );
  border: 8px solid #59402d;
  box-shadow: inset 0 0 20px rgba(0,0,0,.45);
}

.fort .tower {
  position: absolute;
  width: 55px;
  height: 100px;
  top: 15px;
  background:
    repeating-linear-gradient(
      0deg,
      #98704d 0px,
      #98704d 12px,
      #67492f 13px,
      #67492f 18px
    );
  border: 7px solid #543a27;
  z-index: 3;
}

.t1 {
  left: 0;
}

.t2 {
  right: 0;
}

.gate {
  position: absolute;
  z-index: 5;
  width: 65px;
  height: 70px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #24180f;
  border: 7px solid #523923;
  border-radius: 35px 35px 0 0;
  text-align: center;
  padding-top: 25px;
  font-size: 9px;
}

.fort span {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,.65);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

/* LOCATIONS */

.chittor {
  left: 5%;
  top: 20%;
}

.redfort {
  right: 5%;
  top: 18%;
}

.mehrangarh {
  left: 38%;
  bottom: 18%;
}

/* PLAYER */

#player {
  position: absolute;
  left: 50%;
  top: 52%;
  width: 38px;
  height: 70px;
  transform: translate(-50%,-50%);
  z-index: 20;
}

.head {
  width: 22px;
  height: 22px;
  background: #c58b63;
  border-radius: 50%;
  margin: auto;
  border: 2px solid #222;
}

.body {
  width: 30px;
  height: 38px;
  background: #27364a;
  margin: 2px auto;
  border-radius: 7px;
  border: 2px solid #111;
}

.gun {
  position: absolute;
  width: 35px;
  height: 7px;
  background: #171717;
  right: -22px;
  top: 38px;
  transform: rotate(-12deg);
  border-radius: 3px;
}

/* CONTROLS */

#controls {
  position: fixed;
  z-index: 100;
  bottom: 18px;
  left: 18px;
}

#controls button {
  width: 55px;
  height: 55px;
  margin: 3px;
  border: 0;
  border-radius: 50%;
  background: rgba(0,0,0,.7);
  color: white;
  font-size: 22px;
}

#fire {
  position: fixed;
  right: 25px;
  bottom: 40px;
  background: rgba(170,30,20,.8) !important;
}
.enemy {
  box-shadow: 0 5px 12px rgba(0,0,0,.6);
  transition: left .05s linear, top .05s linear;
}

.enemy::after {
  content: "BOT";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 9px;
  color: white;
  background: rgba(0,0,0,.6);
  padding: 2px 4px;
  border-radius: 3px;
}
/* LOOT */
.loot {
  position: absolute;
  z-index: 15;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(0,0,0,.75);
  border: 2px solid white;
  font-size: 25px;
  cursor: pointer;
  animation: lootPulse 1s infinite alternate;
}

.pistol {
  left: 25%;
  top: 45%;
}

.ak {
  left: 70%;
  top: 55%;
}

.sniper {
  left: 45%;
  top: 25%;
}

.ammo {
  left: 60%;
  top: 35%;
}

.medkit {
  left: 30%;
  top: 70%;
}

@keyframes lootPulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.12);
  }
}

#weaponHUD {
  position: fixed;
  z-index: 60;
  top: 65px;
  left: 12px;
  background: rgba(0,0,0,.75);
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
}
